<% if(searchResults.length>0) { %>
	<div class="content">
		<% for(var i=0; i<searchResults.length; i++) { %>
			<div class="box">
				<a class="title is-3" href="/wiki/<%= searchResults[i].title %>">
					<%= searchResults[i].title %>
				</a>
				<br><br>
				<div class="content">
					<%- searchResults[i].matchText %>
				</div>
			</div>
		<% } %>
	</div>
<% } else { %>
	<% var resetUrl = "/wiki/Home"; %>
	<% include ../partials/no-results %>
<% } %>